* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #1b1b1b;
}

.loading_screen{
	position:fixed;
	top:0px;	
	left:0px;	
	bottom:0px;	
	right:0px;	
	height:100%;
	width:100%;
	background:#00000063 url("../img/loading.gif") center no-repeat;
	opacity: 0.5;
	z-index: 9999;
}

/* input[type=text] {
    outline: 0;
} */

.box-login {
    left: 45%;
    top: 30%;
    margin-left: -100px;
    margin-top: -50px;
    position: absolute;
    width: 380px;
    height: 350px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.411);
}

.userlogin {
    width: 30%;
}

.menu {
    background-color: #383838;
}

.submenu {
    position: absolute;
	margin-top: 7px;
    background-color: #383838;
    border-radius: 0;
	float: right;
	left: -62.4px;
}

.submenu a {
    color: #ffffff;
}

.submenu a:hover {
    background-color: #7c7c7c;
    color: #1b1b1b;
    text-shadow: 2px 2px 5px #1b1b1b;
    transition: 0.5s ease;
    -o-transition: 1.0s ease;
    -webkit-transition: 1.0s ease;
}

.submenu-user {
    display: none;
}

.img_user {
    width: 40px;
    font-size: 16px;
    background-color: #6A5ACD;
}

.title {
    background-color: #3f3f3f;
    border: 1px solid #3f3f3f;
}

.box-valores {
    background-color: #20202070;
    /* background-color: #008327ad; */
}

.corpo {
    background-color: rgba(255, 255, 255, 0.411);
    border: 1px solid #3f3f3f;
    border-radius: 40px;

}

.table_receber {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.411);

}

.rodape {
    bottom: 0;
    left: 5%;
    position: absolute;
    text-align: right;
    width: 85%;
}

.labelError {
    color: #d80000;
}

.corpo_modal {
    background-color: #1b1b1bb0;
}

.bg-green {
    background-color: #e97100;
}

@media screen and (max-width: 770px) {
    .box-login {
        left: 40%;
    }
}

@media screen and (max-width: 500px) {
    .box-login {
        left: 32%;
        top: 25%;
        width: 87%;
        height: 308px;
    }

    .userlogin {
        width: 20%;
    }

    .menu-user {
        display: none;
    }

    .submenu-user {
        width: 100%;
        display: block;
        /* background-color: rgb(51, 50, 50); */
    }

    .submenu-user li {
        display: block;
       /* width: 100%; */
    }

    .submenu-img {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 7px 0;
    }

    .img_user {
        /* margin: 0 auto; */
        width: 50px;
        height: 50px;
        font-size: 20px;
        background-color: #6A5ACD;
    }

    .submenu_name {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .box-login {
        left: 35%;
    }
}

@media screen and (max-width: 330px) {
    .box-login {
        width: 93%;
    }
}

@media screen and (max-width: 280px) {
    .box-login {
        left: 39%;
        width: 93%;
    }
}
